@import './_variables.scss';

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-body;
}

body {
  color: $color-black;
  background-color: $color-white;
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;

  min-height: $min-content-height;
  max-width: 100vw;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#root {
  min-height: $min-content-height;
  max-width: 100vw;
}
