//button
@mixin button($color, $backgroundColor, $backgroundColorHover) {
  text-transform: uppercase;
  padding: 1em;
  background-color: $backgroundColor;
  color: $color;
  font-family: map-get($font, header);
  font-size: 2rem;
  margin-top: 1rem;

  &:hover {
    background-color: $backgroundColorHover;
  }
}

//border radius

@mixin borderRadius($size, $position) {
  border#{$position}radius: $size;
}
