$font: (
  body: 'Roboto-Light',
  header: 'Roboto-Bold',
);

$color-white: #fff;
$color-black: #000;
$color-green: #00bfbf;
$color-grey: #2b3845;
$color-lightgrey: rgba(43, 56, 69, 0.6);
$color-beige: #f0ebe5;
$color-red: #b81c4f;

$min-content-height: 78vh;
$max-content-width: 60rem;

$standard-border-radius: 0.5rem;
