@import '../../../styles/variables';
@import '../../../styles/breakpoints';
@import '../../../styles/mixins';

.form {
  display: flex;
  flex-direction: column;

  @include device-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .labelWrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;

    @include device-tablet {
      flex-basis: 49.5%;
    }

    label {
      background-color: $color-beige;
      color: $color-grey;
      margin-top: 2rem;
      padding: 0.5rem;
      font-size: 1.6rem;
      width: 100%;

      &.inputError {
        border: 1px solid $color-red;
      }
    }
  }

  input {
    width: 100%;
    border: 0;
    outline: none;
    overflow: hidden;
    @include borderRadius($standard-border-radius, '-');
  }

  input[type='text'],
  input[type='number'] {
    background-color: $color-beige;
    color: $color-lightgrey;
    padding: 0 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2rem 0.5rem;
    font-size: 2rem;

    @include device-tablet {
      padding: 0.5rem;
    }

    &:placeholder {
      color: $color-lightgrey;
    }
  }

  input[type='submit'] {
    flex-basis: 100%;
    @include button($color-white, $color-green, $color-grey);
  }

  .error {
    background-color: $color-red;
    color: $color-white;
    padding: 1rem 0.5rem;
    margin-top: 1rem;
    @include borderRadius($standard-border-radius, '-');

    @include device-tablet {
      position: relative;
    }
  }
}
