@import '../../../styles/variables';

.footer {
  background-color: $color-grey;
  padding: 1.5rem 1rem;
  width: 100%;

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-green;
    text-align: right;
  }
}
